body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.container {
    position: relative;
    width: 800px;
    height: 800px;
    border: 5px groove #48BAE4;
}

.area {
    position: relative;
    overflow: hidden;
}

.way {
    position: absolute;
}

.div-part {
    position: absolute;
}

.car-body {
    position: absolute;
    z-index: 9999;
}

.car-time {
    position: absolute;
}

.car-time > span {
    color:  #15e049;
}

.handler-board {
    position: absolute;
    bottom: -4px;
}

div.handler-board > img {
    width:  479px;
}

.handler {
    position: absolute;
    bottom: 30px;
    left: 130px;
}

/*div#arrow img {
    max-width:  50%;
}*/
