body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*img {
    max-width: 50%;
}*/

.container {
    position: relative;
    width: 800px;
    height: 800px;
    border: 5px groove #48BAE4;
}

.area {
    position: relative;
    width:  800px;
    height: 800px;
    left:   150px;
    top:    70px;
    border: 5px groove #48BAE4;
}

.way {
    position: absolute;
}

.div-part {
    position: absolute;
}

.car-body {
    position: absolute;
    top: 353.65px;
    right: 378.65px;
    z-index: 9999;
}

img_car {
    width:  81.7px;
    height: 81.7px;
}

.handler-board {
    position: absolute;
    bottom: -4px;
    left: 0px;
}

div#board img {
    max-width:  65%;
}

.handler {
    position: absolute;
    bottom: 50px;
    left: 190px;
}

div#arrow img {
    max-width:  50%;
}
